.h-85 {
    height: 85% !important;
}
.prodImg {
    object-fit: contain;
    max-height: 100%;
    width: 25% !important;
}

.boughtProds::-webkit-scrollbar {
    background: none;
    width: 8px;
}

.boughtProds::-webkit-scrollbar-thumb {
    background-color: rgb(87, 68, 134);
    border-radius: 4px;
}