body {
  height: 100vh;
}

#root {
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.prodCard {
  display: flex;
  flex-direction: column;
  min-width: 303px;
  width: 24%;
  box-shadow: 0 0 5px #808080;
}

.prodImgFrame {
  height: 200px;
  padding-top: 7px;
}

.prodImg {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.prodTextBlock {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.prodInfoBlock {
  display: flex;
  flex-direction: row;
  margin: -2px 0;
}

.stats {
}

.buyButton {
  width: 45px;
}

.rateAndCat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -5px 0;
}

.prodTitle {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.prodDescription {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

#elements {
  height: 85vh;
  width: 90%;
  margin: 0 0 45px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#prodCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 17px;
  padding: 20px 3%;
}

#elements::-webkit-scrollbar {
  background: none;
  width: 12px;
}

#prodCards {
  height: 100%;
}

.primary {
  width: 100px;
  height: 70px;
}