body {
  height: 100vh;
}

header {
  font-weight: bold;
  font-size: 60px;
}

#root {
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.prodCard {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  box-shadow: 0 0 5px #808080;
}

.prodImgFrame {
  max-height: 235px;
  height: 100%;
  padding-top: 7px;
}

.prodImg {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.prodTextBlock {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.prodInfoElement {
  display: flex;
  flex-direction: row;
  margin: -2px 0;
}

.buyButton {
  width: auto;
  height: 45px;
  cursor: pointer;
}

.rateAndCat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -5px 0;
}

.priceAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prodTitle {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  height: 64px;
}

.prodDescription {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

#elements {
  height: 85vh;
  margin: 0 0 45px 0;
  width: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#prodCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px;
  padding: 20px 3%;
}

#elements::-webkit-scrollbar {
  background: none;
  width: 12px;
}

#prodCards {
  height: 100%;
}

.primary {
  width: 100px;
  height: 70px;
}

@media screen and (max-width: 1190px) {
  #prodCards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 793px) {
  #prodCards {
    grid-template-columns: 1fr;
  }

  #elements {
    width: 100%;
  }

  .prodCard {
    min-width: 252px;
  }
}

@media screen and (max-width: 550px) {
  header {
    font-size: 50px;
  }

  #elements {
    margin: 0;
  }

  #elements::-webkit-scrollbar {
    width: 6px;
  }
}