.h-76 {
    height: 75.8% !important;
}

.boughtProds::-webkit-scrollbar {
    background: none;
    width: 8px;
}

.boughtProds::-webkit-scrollbar-thumb {
    background-color: rgb(87, 68, 134);
    border-radius: 4px;
}