.buyButton {
    top: 834px;
}

@media screen and (max-width: 1136px) {
    .buyButton {
        top: 832px;
    }
}

@media screen and (max-width: 1061px) {
    .buyButton {
        top: 831px;
    }
}

@media screen and (max-width: 987px) {
    .buyButton {
        top: 830px;
    }
}

@media screen and (max-width: 914px) {
    .buyButton {
        top: 829px;
    }
}

@media screen and (max-width: 839px) {
    .buyButton {
        top: 828px;
    }
}

@media screen and (max-width: 765px) {
    .buyButton {
        top: 827px;
    }
}

@media screen and (max-width: 617px) {
    .buyButton {
        top: 826px;
    }
}

@media screen and (max-width: 542px) {
    .buyButton {
        top: 825px;
    }
}

@media screen and (max-width: 469px) {
    .buyButton {
        top: 824px;
    }
}

@media screen and (max-width: 395px) {
    .buyButton {
        top: 823px;
    }
}

@media screen and (max-width: 320px) {
    .buyButton {
        top: 822px;
    }
}