.prodCards {
    background-color: lightgrey;
    grid-template-columns: repeat(4, 1fr);
}

.prodCards::-webkit-scrollbar {
    background: none;
    width: 8px;
}

.prodCards::-webkit-scrollbar-thumb {
    background-color: rgb(87, 68, 134);
    border-radius: 4px;
}

.abbreviated {
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

@media screen and (max-width: 1200px) {
    .prodCards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .prodCards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 576px) {
    .prodCards {
        grid-template-columns: 1fr;
    }
}