.prodImgFrame {
    width: 218px !important;
    height: 218px !important;
}

.prodImg {
    object-fit: contain;
    width: 100%;
}

.prodTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow-y: hidden;
}

@media screen and (max-width: 1209px)  {
    .prodDescr {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 829px) {
    .prodDescr {
        -webkit-line-clamp: 5;
    }
}

@media screen and (max-width: 650px) {
    .prodTitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow-y: hidden;
    }
}


@media screen and (max-width: 580px) {
    .prodHeader {
        flex-direction: column;
        height: 100%;
    }
    .prodDescr {
        -webkit-line-clamp: 2;
    }
    .prodImgFrame {
        padding-bottom: 1rem;
    }
}